template_project2.tar.gz
02_udacity_data_engineering_project_nosq.code-workspace
lessons/Lesson 3 Exercise 1 Three Queries Three Tables-ANSWER KEY.ipynb
lessons/Lesson 3 Exercise 2 Primary Key-ANSWER KEY.ipynb
lessons/Lesson 3 Exercise 3 Clustering Column-ANSWER KEY.ipynb
lessons/Lesson 3 Exercise 4 Using the WHERE Clause.ipynb

lessons/
.vscode/settings.json
